.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.Register__form,
.register-welcone {
  width: 250px;
}
.Register__form {
  order: 2;
}
.register-welcone {
  order: 1;
  text-align: center;
  font-family: 'Slackey', cursive;
  width: 250px;
  background: -webkit-linear-gradient(45deg, #ffffff, #ffccdc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 3px #1f1042);
}
#acc {
  font-size: 2rem;
}
#ee {
  font-size: 1.2rem;
}
input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 100%;

  background: -webkit-linear-gradient(45deg, #ffffff, #ffccdc);

  filter: drop-shadow(4px 3px #1f1042);
}
label {
  font-family: 'Slackey', cursive;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register-images {
  height: 3rem;
  width: 3rem;
}
.sun {
  position: fixed;
  top: 100px; /*accounts for fixed header*/
  left: -webkit-calc(50% - 530px); /*50% - half your wrapper width*/
  left: calc(50% - 530px);
  z-index: -1;
}
.rainbow {
  position: fixed;
  top: 100px; /*accounts for fixed header*/
  text-align: right;
  margin-right: 8rem;
  margin-top: 14rem;
  z-index: -1;
}
#rainbow {
  width: 50%;
}
#sun {
  width: 30%;
}
#sun,
#rainbow {
  animation: rocket-rotate 20s linear reverse infinite;
  opacity: 0.5;
}

@keyframes dash {
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes rocket-rotate {
  0%,
  20% {
    transform: rotate(85deg);
  }
  50% {
    transform: rotate(30deg);
  }
  80%,
  100% {
    transform: rotate(-25deg);
  }
}

.buttons__register {
  order: 3;
  flex-direction: column;
  padding-top: 1.5rem;
}

#register__submit__btn {
  margin: 10px;
  font-family: 'Slackey', cursive;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000072;
  box-shadow: 2 2 0px #000072;
  border-radius: 15px;
  width: 250px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;

  border-radius: 25px;
  background: linear-gradient(
    to left,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: pink;
  -webkit-text-fill-color: purple;
}

#cancel__btn {
  margin: 10px;
  font-family: 'Slackey', cursive;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ff57cc;
  box-shadow: 2 2 0px #000072;
  border-radius: 15px;
  width: 250px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;

  border-radius: 25px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-inputs p {
  color: rgba(249, 84, 39, 1);
  margin-top: 0.2px;
  font-size: 0.8rem;
}

.uni2 {
  height: 10rem;
  width: 10rem;
  order: 2;

  margin-top: 2rem;
}
.form-sucess-message {
  font-size: 2rem;
  order: 1;

  font-family: 'Slackey', cursive;
  width: 350px;
  background: -webkit-linear-gradient(45deg, #ffffff, #ffccdc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 3px #1f1042);
}
.form-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#back_register_btn {
  order: 3;
  margin-top: 4.8rem;
  font-family: 'Slackey', cursive;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000072;
  box-shadow: 2 2 0px #000072;
  border-radius: 15px;
  width: 250px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;

  border-radius: 25px;
  background: linear-gradient(
    to left,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: pink;
  -webkit-text-fill-color: purple;
}
